.vignette {
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0) 30%, rgb(0, 0, 0) );
    display: flex;
}

#format__parallax {
    min-height: 400px;
    background: transparent;
}

 .parallax__2{
    width: 100vw;
    height: 110vh;
    
}

.parallax__1, .parallax__3, .parallax__4, .parallax__5 {
    width: 100vw;
    height: 100vh;
}

.container__text {
    padding-top: 53vh;
    padding-left: 85px;
}

.container__text > p {
    display: flex;
    color: white;
    font-size: 21px;
    padding-top: 10px;
    font-weight: 500;
}

.img__arrow {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 200px;
}

.img__arrow img {
    width: 55px;
    height: 50px;
    cursor: pointer;
    transition: 1s;
}

.img__arrow img:hover {
    animation: jumping 1s linear infinite;
}

@keyframes jumping {
    from { transform: translateY(7px);}
    50% { transform: translateY(0);}
    to { transform: translateY(7px);}
}



.container__3 {
    padding-top: 500px;
    padding-left: 85px;
    width: 60%;
    height: 30%;
}

#container__3--size{
    width: 75%;
}

.container__3__h1 h1 {
    color: white;
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 24px;
}

.container__3__ps p {
    color: white;
    font-size: 16px;
    margin: 15px 0;
    letter-spacing: 1px;
}

.container__3__input input {
    margin-top: 10px;
    color: white;
    font-size: 14px;
    background-color: transparent;
    padding: 15px 55px;
    border: 1px white solid;
    border-radius: 25px;
    transition: 300ms;
}

.container__3__input input:hover {
    color: rgb(194, 191, 191);
    border-color: #00ff00;
    cursor: pointer;
}

.container__4 {
    padding-top: 450px;
    padding-left: 85px;
    width: 60%;
    height: 30%;
}

.container__5 {
    padding-top: 450px;
    padding-left: 85px;
    width: 60%;
    height: 30%;
} 

.container__6 {
    padding-top: 450px;
    padding-left: 85px;
    width: 60%;
    height: 30%;
} 

 @media (max-width: 600px){
    .container__text {
        padding-top: 40vh;
        padding-left: 5vw;
    }
    
    .container__text > p {
        font-size: 19px;
        padding-top: 10px;

    }
}