*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'din';
    src: url(../assets/fonts/DIN\ Regular.ttf) format(truetype) ;
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'din-2014', Helvetica, sans-serif;
    /*background-image: url(../assets/images/imagem1.webp);
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    */
}

header {
    display: flex;
    height: 110px;
    align-content: flex-end;
    background-color: transparent;
    align-items: center;
    padding: 0 80px;
}

.container1, .container2 {
    width:50% ;
    display: flex;
    align-items: center;
    height: 65px;
}

.container2 {
    justify-content: flex-end;
    
}

.container1__img {
    display: flex;
}

.container1__img img {
    width: 100%;
    max-width: 108px; 
}

.container1__topics {
    margin-left: 37px;
}

.container1__topics, .container2__topics{
    display: flex;
    flex-basis: 70%;
    gap: 15px;
}

.container1__topics {
    justify-content: left;
}

.container2__topics {
    justify-content: right;
}

.topics__a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 13px;
    position: relative;
}

.topics__a::after{
    content: "";
    position: absolute;
    background-color: #00ff00;
    height: 1px;
    width: 0;
    left: 0;
    bottom: -3px;
    transition: 0.3s;
}

.topics__a:hover::after {
    width: 100%;
}


