*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'din';
    src: url(../assets/fonts/DIN\ Regular.ttf) format(truetype) ;
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'din-2014', Helvetica, sans-serif;
    overflow-x: hidden;
}



header {
    display: flex;
    height: 110px;
    align-content: flex-end;
    background-color: transparent;
    align-items: center;
    padding: 0 80px;
}

.container1, .container2 {
    width:50% ;
    display: flex;
    align-items: center;
    height: 65px;
}

.container2 {
    justify-content: flex-end;
    
}

.container1__img {
    display: flex;
}

.container1__img img {
    width: 100%;
    max-width: 90px; 
    min-width: 90px;
}

.container1__topics {
    margin-left: 37px;
}

.container1__topics, .container2__topics{
    display: flex;
    flex-basis: 70%;
    gap: 15px;
}

.container1__topics {
    justify-content: left;
}

.container2__topics {
    justify-content: right;
}

.topics__a, .display__none{
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 13px;
    position: relative;
}

.topics__a::after, .display__none::after {
    content: "";
    position: absolute;
    background-color: #00ff00;
    height: 1px;
    width: 0;
    left: 0;
    bottom: -3px;
    transition: 0.3s;
}

.topics__a:hover::after, .display__none:hover::after {
    width: 100%;
}

.nav__menu {
    cursor: pointer;
    display: none;
}

.nav__menu div{
    width: 32px;
    height: 2px;
    background: white;
    margin: 8px;
}

.display__none{
    display: none;
}



@media (max-width: 999px) {
    #nav__menu__itens {
        padding-top: 30px;
        position: absolute;
        top: 1vh;
        right: 0;
        width: 90vw;
        height: 99vh;
        background: black;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;

    }

    #nav__menu__itens.active {
    transform: translateX(0);
    }





    .nav__menu {
        display: block;

    }

    .topics__a, .display__none{
        font-size: 17px;
        display: flex;
        color: rgb(196, 196, 196);
        padding-top: 15px;
    }

    .display__none {
        display: flex ;
    }

    .container1__topics{
        display: none;
    }
}

.nav__menu.active {
    transform: translateX(0);
}
